
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Outfit', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 1.6rem;
  padding: 10px;
}

h1 {
  font-size: 6rem;
  padding: 10px;
}
.navbar{
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  color: white;
  padding: 10px;
  font-size: 2em;  
  color: rgb(255, 255, 255);
  text-decoration: none;
  list-style-type: none;
}

.home {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(0,0,0,0.4);
  color: #fff; 
  background: url('./images/Sunsetlake.jpg') no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}


 .search {
  margin-top: 100px;
  text-align: center;
  padding: 1rem;
 
}

.home input {
  padding: .7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid rgba(255,255,255, 0.8);
  background: rgba(255,255,255, 0.1);
  color: #f8f8f8;
  width: 500px;
  
}

::placeholder {
  color: #f8f8f8;
}

.container {
  max-width: 700px;
  height: 700px;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

 .top {
  width: 100%;
  margin: 1rem auto;
  margin-top: 50px;
  padding-left: 20px;
}

 .description {
  position: relative;
  right: -90%;
  transform-origin: 0 0;
  transform: rotate(269deg);
}

 .bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255,255,255, 0.2);
  margin-top: 200px;
  
}
.bold {
  font-weight: 700;
}
.text-link{
  color: none;
  text-decoration:none;
}
.navbar{
 justify-content: center;
 gap:1100px;
 background: rgba(0, 0, 0, 0.9);
 list-style: none;
 text-transform: uppercase;
}
.Navfont{
color: #f8f8f8;
}
.Forecast{
  display: flex;
font-size: 30px;
justify-content: center;

}
.Forecastfont{
  color: #f8f8f8;
  text-transform: uppercase;
  justify-content: center;
}


.forecast{
display: flex;
justify-content:space-evenly;
width: 100%;
height: 100vh;
background-color: rgba(0,0,0,0.4);
color: #fff; 
background: url('./images/New York.jpg') no-repeat center center/cover;

}

.icon{
  margin-left: 100px;
  display: flex;
  width: 500;
  height: 500;
  justify-content: center;
}
.container1{
  position: relative;
margin-top: 100px;
color: rgb(0, 0, 0);
background-color: #bebebe;
height:215px;
width: 180px;
border-radius: 30px;
opacity: 0.9;
}
.box1 {
 text-align: center;
}
.container2{
  margin-top: 100px;
  color: rgb(0, 0, 0);
  height:215px;
  width: 180px;
  background-color: #bebebe;
  border-radius: 30px;
  opacity: 0.9;
}
.box2{
  text-align: center;

}
.container3{
  margin-top: 100px;
  color: rgb(0, 0, 0);
  height:215px;
  width: 180px;
  background-color: #bebebe;
  border-radius: 30px;
  opacity: 0.9;
}
.box3{
  text-align: center;
}
.container4{
  margin-top: 100px;
  color: rgb(0, 0, 0);
  height:215px;
  width: 180px;
  background-color: #bebebe;
  border-radius: 30px;
  opacity: 0.9;
}
.box4{
  text-align: center;
}
.container5{
  margin-top: 100px;
  color: rgb(0, 0, 0);
  background-color: #bebebe;
  height:220px;
  width: 180px;
  border-radius: 30px;
  opacity: 0.9;
}
.box5{
  text-align: center;

}
span{
  width: 10px;
  height: 40px;
  background:white;
  border-radius:5px;
  margin: 6px;
  animation: move 1.1s infinite ease-in-out;
}

span:nth-of-type(1){
  transform: rotate(-45deg); 

}

span:nth-of-type(2){
  transform: rotate(45deg);
}

@keyframes move{
  0%{margin-top:0;}
  50%{margin-top:100px;}
  100%{margin-top:0;}
}
.App{
  height: 90vh;
}

form {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-top: 50px;
  width: 100%;
}

form input {
  width: 50%;
  align-self: center;
}

form label {
  align-self: center;
  margin-top: 10px;
}
button.submit{
  width: 50%;
  margin-top: 100px;
  align-self: center;
}
.name {

}
.title {

}
.phone {

}

